#root {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none; /* Remove bullets */
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
